<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>title</title>
    <style>
        body{
            background-image: url("../static/misc_photos/background.jpg");
        }
        a:hover{
            text-decoration: none;
        }
        h1{
            font-family: "Lucida Console", Monaco, monospace;
            color: lightslategray;
            text-shadow: 1px 1px lightsteelblue;
        }
        html{scroll-behavior:smooth !important;}
    </style>
</head>
<body>
    <div id="main" style="margin-bottom: 15px;">
        <h1 class="text-center">Screenshot</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 link">
                    <div>
                        <form method="POST">
                            <div class="form-group">
                            <label for="email">Enter link:</label>
                            <input type="text" name="link" class="form-control" id="link" placeholder="Link...">
                            </div>
                            <button id="submit_link" type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    {% if save == 1 %}
        <div style="margin-bottom: 40px;" id="show_screenshot" class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div><img style="border: 2px solid black; margin: 10px; box-shadow: 1px 3px 21px -1px rgba(0,0,0,0.7);" width="100%" src="../static/img/{{ img_name }}" alt=""></div>
                    <div id="save">
                        <button style="margin: 20px;" type="button" class="btn btn-success"><a style="color: white;" href="../static/img/{{ img_name }}" download>Save as image</a></button>&nbsp;
                        <button style="margin: 20px;" type="button" class="btn btn-success"><a style="color: white;" href="../static/pdf/{{ pdf_name }}" download>Save as pdf</a></button><br>
                        <button style="margin: 20px;" type="button" class="btn btn-success"><a style="color: white;" href="#">Take more screenshot</a></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <footer style="background-color: palegoldenrod; padding: 10px; position: fixed; left: 0; bottom: 0; width: 100%;">
        <p style="float: right;"> &copy MR.BSK</p>
        <p>Contact information: <a href="mailto:screenshot@mail.itsbiswa.me">screenshot@mail.itsbiswa.me</a></p>
    </footer>
</body>
<script>
    //$("#show_screenshot").hide()
    $("#submit_link").click(function(){
        console.log("hiiiu")
        $("#main").removeAttr("style")
    })
</script>
</html>